 


.clock {
  margin-left: auto !important;
  margin-right: auto !important;
  /*width: 650px;*/
  max-width: 480px;
  margin-top: 30px !important;
  /* position: absolute; */
  /* left: 50%; */
  /* transform: translateX(-50%) translateY(-50%); */
}



.flip-clock-wrapper ul {
  width: 40px !important;
}


.row {
  margin: 0 !important;

}

@media only screen and (max-width: 768px) {
  .flip-clock-wrapper ul {
    width: 20px !important;
    margin: 2PX !important;
  }
  .flip-clock-divider .flip-clock-label {
    right: -44px !important;
  }


}





.counter
{
    background-color: #eaecf0;
    text-align: center;
}
.counter-container
{
    margin-top: 30px;
    margin-bottom: 30px;
}
.counter-count
{
    font-size: 40px;
    background-color: #0c8f4e;
    border-radius: 50%;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 150px;
    width: 150px;
    height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
}

.counter-p
{
    font-size: 24px;
    color: #000000;
    line-height: 34px;
}